#include "keys_ru.h"
#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        shcha {
            bindings = <&kp RU_CYRILLIC_SHCHA>;
            key-positions = <17 7>;
            layers = <1>;
        };

        hrdsgn {
            bindings = <&kp RU_CYRILLIC_HARD_SIGN>;
            key-positions = <26 16>;
            layers = <1>;
        };

        cmben {
            bindings = <&layer_en>;
            key-positions = <3 13>;
            layers = <1>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <3 13>;
            layers = <0>;
        };

        yo {
            bindings = <&kp RU_CYRILLIC_IO>;
            key-positions = <4 14>;
            layers = <1>;
        };

        mo6_1 {
            bindings = <&mo 6>;
            key-positions = <30 31>;
            layers = <0 1 2 3 4 5>;
        };

        mo6_2 {
            bindings = <&mo 6>;
            key-positions = <31 32>;
            layers = <0 1 2 3 4 5>;
        };

        mo6_3 {
            bindings = <&mo 6>;
            key-positions = <33 34>;
            layers = <0 1 2 3 4 5>;
        };

        mo6_4 {
            bindings = <&mo 6>;
            key-positions = <34 35>;
            layers = <0 1 2 3 4 5>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N2))>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
  &kp Q  &kp W  &kp E  &kp R           &kp T                          &kp Y  &kp U  &kp I  &kp O  &kp P
  &kp A  &kp S  &kp D  &kp F           &kp G                          &kp H  &kp J  &kp K  &kp L  &none
  &kp Z  &kp X  &kp C  &kp V           &kp B                          &kp N  &kp M  &none  &none  &none
                       &kp LEFT_SHIFT  &mo 4  &kp SPACE    &kp ENTER  &mo 2  &none
            >;

            display-name = "En";
        };

        ru {
            bindings = <
  &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                          &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA  &kp RU_CYRILLIC_ZE  &kp RU_CYRILLIC_HA
  &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                          &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O          &kp RU_CYRILLIC_EL   &kp RU_CYRILLIC_DE  &kp RU_CYRILLIC_ZHE
  &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I                           &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE   &kp RU_CYRILLIC_YU  &kp RU_CYRILLIC_E
                                                                     &kp LEFT_SHIFT      &mo 4               &kp SPACE    &kp ENTER  &mo 3               &none
            >;

            display-name = "Ru";
        };

        my_sym_en {
            display-name = "Symbols";
            bindings = <
  &hml GRAVE TILDE    &kp DLLR   &kp LBKT   &kp LPAR   &kp FSLH                     &kp BSLH  &kp LBRC  &hmr CARET LESS_THAN  &hmr PIPE AMPS    &kp BACKSPACE
  &hml RU_NUMERO SQT  &kp MINUS  &kp QMARK  &kp COMMA  &kp COLON                    &kp SEMI  &kp DOT   &kp EXCL              &kp UNDER         &kp DQT
  &kp STAR            &kp PLUS   &kp RBKT   &kp RPAR   &kp HASH                     &kp AT    &kp RBRC  &kp GT                &hmr PRCNT EQUAL  &kp DEL
                                            &trans     &mo 5      &trans    &trans  &none     &trans
            >;
        };

        my_sym_ru {
            display-name = "Symbols";
            bindings = <
  &hml GRAVE TILDE    &en DLLR      &en LBKT      &kp RU_LPAR  &kp RU_FSLH                     &kp BSLH  &en LBRC  &hmr CARET LESS_THAN  &hmr PIPE AMPS          &en BACKSPACE
  &hml RU_NUMERO SQT  &kp RU_MINUS  &kp RU_QMARK  &en COMMA    &kp RU_COLON                    &kp SEMI  &kp DOT   &kp EXCL              &kp UNDER               &kp DQT
  &kp RU_ASTERISK     &kp RU_PLUS   &en RBKT      &kp RU_RPAR  &en HASH                        &en AT    &kp RBRC  &en GT                &hmr RU_PRCNT RU_EQUAL  &kp DEL
                                                  &trans       &mo 5         &trans    &trans  &none     &trans
            >;
        };

        nav {
            bindings = <
  &none      &kp LC(LEFT_ARROW)  &kp UP     &kp LC(RIGHT_ARROW)  &kp ESC                      &kp ESC  &kp N7  &kp N8  &kp N9  &kp BSPC
  &kp LC(A)  &kp LEFT            &kp DOWN   &kp RIGHT            &kp TAB                      &kp TAB  &kp N4  &kp N5  &kp N6  &kp N0
  &kp LC(Z)  &kp LC(X)           &kp LC(C)  &kp LC(V)            &kp LC(Y)                    &none    &kp N1  &kp N2  &kp N3  &kp DEL
                                            &trans               &none      &trans    &trans  &mo 5    &trans
            >;

            display-name = "Nav";
        };

        adj {
            bindings = <
  &studio_unlock  &none         &none           &none      &kp ESC                    &kp ESC          &kp F7  &kp F8  &kp F9  &kp F12
  &sk LEFT_GUI    &sk LEFT_ALT  &sk LEFT_SHIFT  &sk LCTRL  &kp TAB                    &kp TAB          &kp F4  &kp F5  &kp F6  &kp F11
  &bootloader     &none         &none           &none      &none                      &kp PRINTSCREEN  &kp F1  &kp F2  &kp F3  &kp F10
                                                &trans     &trans   &trans    &trans  &trans           &trans
            >;

            display-name = "Adjust";
        };

        mod {
            bindings = <
  &trans        &trans    &trans     &trans     &kp ESC                    &kp ESC  &trans     &trans     &trans    &trans
  &sk LEFT_GUI  &sk LALT  &sk LSHFT  &sk LCTRL  &kp TAB                    &kp TAB  &sk LSHFT  &sk LSHFT  &sk LALT  &sk LGUI
  &trans        &trans    &trans     &trans     &trans                     &trans   &trans     &trans     &trans    &trans
                                     &trans     &trans   &trans    &trans  &trans   &trans
            >;

            label = "Mode";
        };
    };
};
